:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Outfit";
  background-color: var(--slate300);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--slate900);
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: var(--white);
  border-radius: 25px;
}

/*desktop*/
@media (min-width: 376px) {
  .card {
    padding: 1rem;
    width: 320px;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }
}

/*mobile*/
@media (max-width: 375px) {
  .card {
    padding: 1rem;
    width: 320px;
  }

  h1 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

p {
  color: var(--slate500);
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
